<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ClickForTech Test Suite" verbose="1">
    <test name="ControllerData Utility Tests" preserve-order="true">
        <classes>
            <class name="com.click4tech.ControllerDataUtilTest"/>
        </classes>
    </test>
    <test name="ControllerData Servlet Tests" preserve-order="true">
        <classes>
            <class name="com.click4tech.ControllerDataServletTest"/>
        </classes>
    </test>
    <test name="RunTest Class Tests" preserve-order="true">
        <classes>
            <class name="test.selenium.test.RunTestTest"/>
        </classes>
    </test>
</suite>